@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100w;
  height: 100vh;
  overflow-x: hidden;
}

.shape {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url("/asset/img/brands/Group 104.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.header {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: rgba(248, 248, 255, 0.3);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.btn-start {
  padding: 7px;
  background-color: transparent;
  border-radius: 50px;
  border: 2px solid #fff;
  width: 150px;
  font-weight: 600;
  color: #fff;
}

.btn-start2 {
  padding: 9px;
  background-color: #3B23E6;
  border-radius: 50px;
  width: 150px;
  font-weight: 600;
  color: #fff;
  border: none;
  margin-top: 40px;
  box-shadow: 10px 10px 30px rgba(59, 35, 230, 0.3);
}

.body {
  position: relative;
}
.body .heading {
  font-size: 60px;
  font-weight: bolder;
}
.body #brand-1 {
  width: 550px;
  height: 552px;
}

#do {
  position: relative;
}
#do img {
  width: 550px;
  height: 552px;
}
#do .h2 {
  font-weight: bolder;
}
#do .line {
  width: 80px;
  height: 4px;
  background-color: #3B23E6;
  border-radius: 20px;
}

#works {
  background-color: #F8F8FF;
  width: 100%;
  overflow: hidden;
}
#works .h2 {
  font-weight: bolder;
}
#works .line {
  width: 80px;
  height: 4px;
  background-color: #3B23E6;
  border-radius: 20px;
}
#works .line {
  position: relative;
  left: calc(50% - 40px);
}
#works .boxx {
  width: 100%;
  overflow-x: auto;
  position: relative;
}
#works ::-webkit-scrollbar {
  width: 12px;
}
#works .boxx::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #e9e9ff;
  height: 5px;
}
#works .slide-box {
  width: 185%;
  gap: 20px;
}
#works .slide-box .card {
  border: none;
  width: 380px;
  position: relative;
}
#works .slide-box .card .num {
  position: relative;
  width: 40px;
  height: 40px;
  background: #FFCA43;
  border-radius: 38% 62% 60% 40%/48% 45% 55% 52%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #fff;
  left: calc(50% + 130px);
}
#works .slide-box .card .num p {
  margin-top: 13px;
}
#works .slide-box .card .h6 {
  font-weight: bold;
}
#works .slide-box .card .card-text {
  font-size: 13px;
}

.get {
  position: relative;
}
.get .h2 {
  font-weight: bolder;
}
.get .line {
  width: 80px;
  height: 4px;
  background-color: #3B23E6;
  border-radius: 20px;
}
.get .line {
  position: relative;
  left: calc(50% - 40px);
}
.get img {
  width: 668px;
  height: 501px;
  position: relative;
  left: calc(50% - 370px);
  transition: 0.5s;
}
.get .card.active {
  border-left: 2px solid #3B23E6;
  border: none;
  border-radius: 0;
  cursor: pointer;
  transition: 0.5s;
  font-weight: 700;
}
.get .card {
  border: none;
  border-left: 2px solid rgb(231, 231, 231);
  border-radius: 0;
  cursor: pointer;
  transition: 0.5s;
  font-weight: 700;
}
.get .card .h5 {
  transition: 0.5s;
}
.get .card:hover {
  border-left: 2px solid #3B23E6;
}
.get .card:hover .h5 {
  font-weight: bolder;
}

@media screen and (max-width: 800px) {
  .get img {
    width: 350px;
    height: 252px;
    position: relative;
    left: calc(50% - 175px);
  }
  #works .slide-box {
    width: 640%;
  }
  #works .slide-box .card {
    transform: scale(0.9);
  }
  #do {
    padding: 20px;
  }
  #do img {
    width: 250px;
    height: 252px;
    position: relative;
    left: calc(50% - 125px);
  }
  #do .h2 {
    font-size: 20px;
    margin-top: 20px;
  }
  #do .line {
    width: 40px;
  }
  .body .heading {
    font-size: 30px;
  }
  .body #brand-1 {
    width: 250px;
    height: 252px;
    position: relative;
    left: calc(50% - 125px);
  }
  section {
    padding: 20px;
  }
}/*# sourceMappingURL=style.css.map */